<%= form_for(@order_status) do |f| %>
  <% if @order_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_status.errors.count, "error") %> prohibited this order_status from being saved:</h2>

      <ul>
      <% @order_status.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
