<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @point.name %>
</p>

<p>
  <b>Currency:</b>
  <%= @point.currency_id %>
</p>


<%= link_to 'Edit', edit_point_path(@point) %> |
<%= link_to 'Back', points_path %>
