<%= form_for(@order_detail) do |f| %>
  <% if @order_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_detail.errors.count, "error") %> prohibited this order_detail from being saved:</h2>

      <ul>
      <% @order_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_id %><br />
    <%= f.text_field :order_id %>
  </div>
  <div class="field">
    <%= f.label :product_id %><br />
    <%= f.text_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :point_id %><br />
    <%= f.text_field :point_id %>
  </div>
  <div class="field">
    <%= f.label :point_value %><br />
    <%= f.text_field :point_value %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :currency_value %><br />
    <%= f.text_field :currency_value %>
  </div>
  <div class="field">
    <%= f.label :quotation %><br />
    <%= f.text_field :quotation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
