<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @quotation.date %>
</p>

<p>
  <b>Currency:</b>
  <%= @quotation.currency_id %>
</p>

<p>
  <b>Value:</b>
  <%= @quotation.value %>
</p>


<%= link_to 'Edit', edit_quotation_path(@quotation) %> |
<%= link_to 'Back', quotations_path %>
