<%= form_for(@order_log) do |f| %>
  <% if @order_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_log.errors.count, "error") %> prohibited this order_log from being saved:</h2>

      <ul>
      <% @order_log.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_id %><br />
    <%= f.text_field :order_id %>
  </div>
  <div class="field">
    <%= f.label :order_status_id %><br />
    <%= f.text_field :order_status_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
