<h1>Listing order_logs</h1>

<table>
  <tr>
    <th>Order</th>
    <th>Order status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @order_logs.each do |order_log| %>
  <tr>
    <td><%= order_log.order_id %></td>
    <td><%= order_log.order_status_id %></td>
    <td><%= link_to 'Show', order_log %></td>
    <td><%= link_to 'Edit', edit_order_log_path(order_log) %></td>
    <td><%= link_to 'Destroy', order_log, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order log', new_order_log_path %>
