<h1>Listing products</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Image</th>
    <th>Points</th>
    <th>Points value</th>
    <th>Cuurency value</th>
    <th>Category</th>
    <th>Active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.description %></td>
    <td><%= product.image %></td>
    <td><%= product.point_id %></td>
    <td><%= product.points_value %></td>
    <td><%= product.currency_value %></td>
    <td><%= product.category_id %></td>
    <td><%= product.active %></td>
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_product_path %>
